{% extends "base.html" %}

{% block content %}
    <h1>ONE RANDOM THOUGHT</h1>
    {% if not current_user.is_anonymous %}
    <!--<h1>Hi, {{ current_user.username }}!</h1>-->
    {% endif %}
    {% if not post.author %}
    <h2>Anonymous said:</h2>
    {% else %}
    <h2><a href="{{ url_for('main.profile', username=post.author.username) }}"> {{ post.author.username }}</a> said:
    </h2>
    {% endif %}

    <p>{{ post.body }}</p>
    <p>Post ID: {{ post.id }}</p>
    <p>Stars: <span id="starsCounter"> {{ post.stars() }}</span></p>
    <!--
    {% if post.author %}
        ~ <a href="{{ url_for('main.profile', username=post.author.username) }}">{{ post.author.username }}</a>
    
    {% else %}
        ~ Anonymous
    {% endif %}
    -->

    {% if current_user.is_authenticated %}
        {% if post in current_user.starred_posts %}
            {% set starred = true %}
            {% set formText = 'Remove Star!' %}
        {% else %}
            {% set starred = true %}
            {% set formText = 'Add Star!' %}
        {% endif %}
        
        <iframe name="dummyframe"  id="dummyframe" style="display: none;"></iframe>
        <form id="formStar" action="javascript:void(0);" target="dummyframe">
            <input id="formStarInput"  type="submit" value="{{ formText }}">
        </form>
    {% endif %}
    
    {% if not current_user.is_anonymous %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.body.label }}<br>
            {{ form.body(size=128) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

    </form>
    {% endif %}
{% endblock %}



{% block scripts %}
{{ super() }}
<script>

    {% if post in current_user.starred_posts %}
    let starred = true;
    {% else %}
    let starred = false;
    {% endif %}
    console.log("EH TU" + starred);

    const JSformStar = document.getElementById('formStar');
    JSformStar.addEventListener('submit', function() {
        if (!starred) {
            starPost({{post.id}});
            starred = true;
            console.log("Starred: " + starred)
        } else {
            unstarPost({{post.id}});
            starred = false;
            console.log("Starred: " + starred)
        }
    });

    function starPost(postId) {
        $.get('/post/'+postId+'/star')
        .done(function(response) {
            $('#starsCounter').text(response['stars']);
            $('#formStarInput').val("Remove Star!");
        })
        .fail(function() {
            $('#starsCounter').text("An error happened LOL");
        })
    }
    function unstarPost(postId) {
        $.get('/post/'+postId+'/unstar')
        .done(function(response) {
            $('#starsCounter').text(response['stars']);
            $('#formStarInput').val("Add Star!");
        })
        .fail(function() {
            $('#starsCounter').text("An error happened LOL");
        })
    }
</script>

{% endblock %}