{% extends "base.html" %}

{% block app_content %}
    <div class="grid-container">
        <div class="title grid-child">
            <h1>ONE RANDOM {{ user.username }}</h1>
        </div>
        <div class="login grid-child">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
            <p>Total stars recieved: {{ current_user.stars }}</p>
            <p>Total starred posts: <span id="totalStarred">{{ current_user.starred_posts.count() }}</span></p>
            <a href="{{ url_for('main.profile', username=current_user.username) }}">Profile</a></li>
            <a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </div>
    </div>
    
    <h3>Posts:</h3>
    {% for post in user_posts %}
    <li>
        {{ post.body }} | ~{{ post.author.username }} | Stars: {{ post.stars() }}
    </li>
    {% endfor %}
    {% if user_posts_prev_url %}
        <a href="{{ user_posts_prev_url }}">Newer Thoughts</a>
    {% endif %}
    {% if user_posts_next_url %}
        <a href="{{ user_posts_next_url }}">Older Thoughts</a>
    {% endif %}

    <h3>Starred:</h3>
    {% for post in starred_posts %}
    <li>
        {{ post.body }} | ~{{ post.author.username }} | Stars: {{ post.stars() }}
    </li>
    {% endfor %}
    {% if starred_posts_prev_url %}
        <a href="{{ starred_posts_prev_url }}">Newer Starred Thoughts</a>
    {% endif %}
    {% if starred_posts_next_url %}
        <a href="{{ starred_posts_next_url }}">Older Starred Thoughts</a>
    {% endif %}
    

{% endblock %}